# ignore codeblocks
*.depend
*.layout
*.cbp
*.cscope_file_list

# ignore build directories
/bin/*
/obj/*
/ass/*
/lib/*
/lic/*

# ignore dlls
*.dll

# Ignore Windows
Thumbs.db
Desktop.ini
*.exe

# c++
*.o

# Ignore Images
*.bmp
*.jpg
*.png